<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casos de Exito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="static/css/style_casosext.css">
 
</head>
<body>
    <header>
        <div class="header-content">
            <img src="https://www.parnetmx.com/images/parnet%20logo.png" alt="Logo" class="logo">
            <div class="header-text">
                <h1>PARNET INGENIERIA SA DE CV</h1>
                <h2>Telecomunicaciones, Voz, Datos, Fibra Óptica</h2>
                <div class="rectangle">
                    <p>Bienvenido a PARNET Ingenieria SA de CV. Continuamente actualizamos el sitio. Revisa Nuestros estándares de calidad ISO 9000</p>
                </div>
            </div>
        </div>
       
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #023c8c;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav w-100">
                        <a href="{{ url_for('index') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Página Principal</a>
                        <a href="{{ url_for('quieness') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Quiénes Somos</a>
                        <a href="{{ url_for('clientes') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Clientes</a>
                        <a href="{{ url_for('servicios') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Servicios</a>
                        <a href="{{ url_for('productos') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Productos</a>
                        <a href="{{ url_for('sugerencias') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Sugerencias</a>
                        <a href="{{ url_for('contacto') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Contacto</a>
                        <a href="{{ url_for('socios') }}" class="btn btn-dark w-100 mb-2 border-right" style="background-color: #023c8c;" onclick="closeNavbar()">Socios</a>
                    </div>
                </div>
            </div>
        </nav>
       
    </header>
    <div class="container" id="casoexit" style="background-color: #fff;">
 
        <div class="box">
            <a href="https://www.chrysler.com/">
            <img src="static/img/chrysler.jpg" alt="">
        </a>
        </div>
   
        <div class="box">
            <a href="https://www.magna.com/">
            <img src="static/img/magna.png" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://nemak.com/">
            <img src="static/img/nemak.jpg" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.holcim.com.mx/">
            <img src="static/img/holcim.jpg" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.axtel.com/">
            <img src="static/img/Axtel.jpg" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.stabilus.com/es">
            <img src="static/img/stabilus.png" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.automotive-interiors-expo.com/en/#">
            <img src="static/img/automotive.gif" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.pangeamade.com/what-we-do">
            <img src="static/img/autoleather.jpg" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.penoles.com.mx/">
            <img src="static/img/penoles.jpg" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.pemsa.ch/">
            <img src="static/img/pemsa.png" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://www.stoneridge.com/">
            <img src="static/img/stoneridge.png" alt="">
        </a>
        </div>
        <div class="box">
            <a href="https://amistadmexico.com/">
            <img src="static/img/amistad.jpg" alt="">
        </a>
        </div>      
    </div>
 
    <footer>
        <div class="footer-content">
            <img src="https://www.parnetmx.com/images/parnet%20logo.png" alt="Logo" class="small-logo">
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Página Principal</a>
            <a href="{{ url_for('quieness') }}">Quiénes Somos</a>
            <a href="{{ url_for('clientes') }}">Clientes</a>
            <a href="{{ url_for('servicios') }}">Servicios</a>
            <a href="{{ url_for('productos') }}">Productos</a>
            <a href="{{ url_for('sugerencias') }}">Sugerencias</a>
            <a href="{{ url_for('contacto') }}">Contacto</a>
            <a href="{{ url_for('socios') }}">Socios</a>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function closeNavbar() {
                $('.navbar-toggler').click();
            }
        </script>
 
</body>
</html>